 /* faz o botao mexer*/

 @keyframes bounce {
    0%, 50%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    40% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    80% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}


body {
    background-color: rgb(15, 22, 10);
    
} 

header{
    text-align: center;
    color: rgb(166, 170, 62);
    font-family: 'Sedgwick Ave Display', cursive;
    margin-top: 20px;
    margin-bottom: 10px;
}
#perguntaEresposta {
    background-color: rgb(15, 22, 10);
    font-family: 'Sedgwick Ave Display', cursive;
    width: 500px;
    padding: 30px;
    border-radius:20px;
    /*border: 2px solid black;
    box-shadow: -3px -3px 1px rgba(0, 0, 0, 0.944);*/
    text-align: center;
    margin: auto;
    margin-bottom: 50px;

    min-width: 280px;
    max-height: 800px;

    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-webkit-border-radius:100px;

    transition: all 0.5s ease-in-out;

    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}

#perguntaEresposta:hover {
    color: rgb(245, 231, 231);
    box-shadow: inset 0 0 35px rgb(4, 255, 0),
                0 0 5px 0  rgb(4, 255, 0),
                0 0 25px 0 rgb(4, 255, 0),
                0 0 50px 0 rgb(4, 255, 0),
                0 0 100px  rgb(4, 255, 0);
}


#pergunta{
    color: rgb(35, 103, 35);
    font-family: 'Sedgwick Ave Display', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
#pergunta img{
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    background-color: none;
    padding: 5px;
    margin: 5px;
    
}
.botões{
    flex-direction: row;
    align-items: center;
}

/*Aprendendo a aplicar pseudoelemento */
.botões::first-letter{
    font-size: 12px;
}

#botãoSim{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.481);
    margin-bottom: 10px;
    cursor:progress;
    border: none;

    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-webkit-border-radius:100px;

    transition: all 0.5s ease-in-out;

    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}

/*Aprendendo a aplicar pseudoclasses */

#botãoSim:hover {
    color: rgb(245, 231, 231);
    box-shadow: inset 0 0 35px rgb(4, 255, 0),
                0 0 5px 0  rgb(4, 255, 0),
                0 0 25px 0 rgb(4, 255, 0),
                0 0 50px 0 rgb(4, 255, 0),
                0 0 100px  rgb(4, 255, 0);
}

/*CONFIGURAÇÃO DO BOTÃO "NÃO" // COLOCANDO EFEITO DE MOVIMENTO*/

#botãoNão{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.481);
    margin-top: 10px;
    cursor:not-allowed;
}

/*Esse hover está ligado ao primeiro código da página "@keyframe" */
#botãoNão:hover {
    animation: bounce 1s;
}

/*Div de onde aparecerá a imagem de resposta*/
#res {
    /*background-color: rgb(44, 129, 44);*/
    background-color: rgb(24, 21, 12);
    color: rgb(166, 170, 62);
    width: 450px;
    height: 500px;
    border-radius: 25%;
    font-family: 'Sedgwick Ave Display', cursive;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    min-width: 280px;
    max-height: 800px;


    /*fazer efeito de neon

    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-webkit-border-radius:100px;

    transition: all 0.5s ease-in-out;

    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;*/
}
/*
#res:hover {
    color: rgb(245, 231, 231);
    box-shadow: inset 0 0 35px rgb(0, 166, 255),
                0 0 5px 0  rgb(0, 166, 255),
                0 0 25px 0 rgb(0, 166, 255),
                0 0 50px 0 rgb(0, 166, 255),
                0 0 100px  rgb(0, 166, 255);
}*/


IMG{
    width: 450px;
    height: 500px;
    border-radius:20%;
    margin:auto;
    border: 2px solid rgb(254, 252, 252);
    box-shadow: 10px 10px 2px rgb(15, 22, 10);
    

-webkit-border-radius:100px;
    -moz-border-radius:100px;
    -ms-border-radius:100px;
    -o-webkit-border-radius:100px;

    transition: all 0.5s ease-in-out;

    -webkit-transition:all 0.5s ease-in-out;
    -moz-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
}

/*Aprendendo aplicar pseudoclasses*/
#res:hover {
    color: rgb(245, 231, 231);
    box-shadow: inset 0 0 35px rgb(0, 166, 255),
                0 0 5px 0  rgb(0, 166, 255),
                0 0 25px 0 rgb(0, 166, 255),
                0 0 50px 0 rgb(0, 166, 255),
                0 0 100px  rgb(0, 166, 255);
}
/*IMG:active{
    box-shadow: 10px 10px 1px rgb(14, 227, 247);
    position: relative;
    top: 1px;
}*/

footer{
    text-align: center;
    margin-top: 15px;
    color: rgb(156, 159, 73);
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
}